{% extends "admin/base.html" %}

{% block admin %}
        <!-- Using bulma to organize this admin area. See https://bulma.io/documentation/overview/ -->
            <!-- Let us create a CRUD admin for our products and services-->
        <div class="container is-fluid">
            <div class="notification {{css}}">
                {{title}}:&nbsp;&nbsp;&nbsp;{{information}}
            </div>

            <div class="tabs is-boxed">
              <ul>
                <li class="is-active"><a>Order</a></li>
                <li><a>Services</a></li>
                <li><a>Manage Database</a></li>
              </ul>
            </div>
            <div class="container is-fluid">
                <!-- Put an add new link-->
                <a class="fas fa-plus"  onclick="addIsActiveClassToElement('order-add')">Add New Order</a>
                <!-- Put a modal add form here. Inactive by default-->
                <div id="order-add" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <form method="post" action="/admin/order/process-order-add/" onload="document.getElementById('product_inception_date').value=new Date()">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Add New Order</p>
                            </header>
                            <section class="modal-card-body">

                                <div class="field">
                                    <label class="label">Order_ID</label>
                                    <div class="control">
                                        <input name="order_id" class="input" type="number" step= "0.01" placeholder="Enter order_id name here" maxlength="20" required>
                                    </div>
                                    <p class="help">The order_id should not be more than 20 letters</p>
                                </div>
                                <div class="field">
                                    <label class="label">Product_Name</label>
                                    <div class="control">
                                        <input name="product_name" class="input" type="text" placeholder="Enter product name here" maxlength="20" required>
                                    </div>
                                    <p class="help">The product name should not be more than 20 letters</p>
                                </div>
                                <div class="field">
                                    <label class="label">Quantity</label>
                                    <div class="control">
                                        <input name="quantity" class="input"  placeholder="1"  maxlength="20" required>
                                    </div>
                                    <p class="help">Input your preferred quantity</p>
                                </div>
                                <div class="field">
                                    <label class="label">Customer_Id</label>
                                    <div class="control">
                                        <input name="customer_id" class="input" type="number" step="0.01" placeholder="Enter customer_id here" maxlength="20" required>
                                    </div>
                                    <p class="help">The customer_id should not be more than 20 letters</p>
                                </div>


                            </section>
                            <footer class="modal-card-foot">
                                <input type="submit" class="button" value="Submit">
                                <input class="button" value="Cancel" onclick="removeIsActiveClassFromElement('order-add')">
                            </footer>
                        </form>
                    </div>
                    <button class="modal-close" aria-label="close" onclick="removeIsActiveClassFromElement('order-add')"></button>
                </div>



                <!-- Show existing codes -->
                <table class="table is-striped is-hoverable ">
                    <thead>
                        <tr>
                            <th>Order_ID</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Customer_ID</th>
                            <th> </th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                                <tr>
                                    <td>{{order.order_id}}</td>
                                    <td>{{order.product_name}}</td>
                                    <td>{{order.quantity}}</td>
                                    <td>{{order.customer_id}}</td>
                                    <td><a class="button" href="/admin/order/detail/{{order.order_id}}/">View</a></td>
                                    <td><a class="button" href="/admin/order/edit/{{order.order_id}}/">Edit</a></td>
                                    <td><a class="button" href="/admin/order/delete/{{order.order_id}}/" onclick="return confirm('Are you sure you want to delete?')">Delete</a></td>
                                    <td>
                                        <a class="button" onclick="addIsActiveClassToElement('confirm-delete-{{order.order_id}}')">Delete</a>
                                        <div id="confirm-delete-{{order.order_id}}" class="modal">
                                            <div class="modal-background"></div>
                                            <div class="modal-content">
                                                <div class="box confirmation-box">
                                                    Are you sure that you want to delete order by name {{order.order_id}}? <br/><br/>
                                                    <a class="button" href="/admin/order/delete/{{order.order_id}}/">Yes</a>
                                                    <a class="button" onclick="removeIsActiveClassFromElement('confirm-delete-{{order.order_id}}')">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                        {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>
        <script>
            function addIsActiveClassToElement(elementId){
                var element = document.getElementById(elementId);
                element.classList.add("is-active");

            }
            function removeIsActiveClassFromElement(elementId){
                var element = document.getElementById(elementId);
                element.classList.remove("is-active");
            }
        </script>

{% endblock%}